/*MOBILE*/
body{
    background-color: #339BFF;    
    font-family: 'Open Sans', sans-serif, arial serif;
}

head{
    color: #fff;
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 100%;
    height:auto;
}

/* ------- HEADER ------- */
header {
    color:#ffffff;
    margin: auto;
    /*margin: 1.25rem auto;
    padding: .5rem;*/
    max-width: 100%;
    text-align: center;
    font-family: Helvetica;
    font-size: 16px;
    /*Menu tabs: 16 px, “Times New Roman.*/
}
.headtitle{
text-align:center;}
.sunlogo{
display:flex;
/*justify-content: flex-start;
align-items:flex-start;*/
max-width: 10vw;
margin-left: 4vw;
height:auto;
float: left;

}
header h1{
    font-size: 5vw;
}
h3 {
    text-align: center;
    font-size: 3vw;
    text-size-adjust:auto;
}

/*----------BODY--------------*/

.motto h2 {
    font-size: 2.5vw;
    font-style: italic;
}

.heroimage
{
    width: 100vw;
    height:auto;
    margin-top:0vw;
   /* max-width: 100%;*/
}

main{
    clear:both;
}

 main {
    color: white;
    margin: 1.25rem auto;
    /*padding: .5rem;*/
    max-width: 100%;
 }

 /*This is H4*/
 .h4forecast{ 
text-align:center;
font-size:3vw;
margin-bottom:2vw;

 }
 .weathersummary {
    position: absolute;
    top: 250px;
   /* top: 1rem;*/
    left: 50px;
    margin-bottom:5px;
    background: radial-gradient(blue, lightblue);
    border: 1px solid blue;
    padding: .5rem;
    box-shadow: 0 0 30px gray;
    /*dynamically change element box size depending on other elements. 
    Have it push down the navigation bar element*/
    /*top: 10px;*/
}
#h5events{
    font-size:2vw;
    margin-bottom:2vw;

}
#h6article{
    font-size:1.4em;
    margin-bottom:2vw;
}
.article-1 {
    width:auto;
    text-size-adjust: auto;
    text-align:justify;
    color:#fff;
    font-size:2vw;
    font-size:2vh;
        }
 .mapimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:2vw;
        }

/* ------- NAV ------- */
   nav {	margin: 0 auto;	width: 100%; background-color: blue;	}
  .navigation { list-style: none; text-align: center; padding-left: 0;}
  .navigation li:first-child { display: block;}
  .navigation li { display: none;}
  .navigation a {	display: block;	color: #fff; padding: .75rem;	text-align: center;	text-decoration: none;}
  .navigation a:hover {	color: #fff; background-color: grey; font-weight: 700;	}



.responsive li { display: block; }

/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">
  */

.responsive li { display: block; }

/*--------5 Day Forecast-----*/

.forecast1{
    color:black;
}

/*--------FOOTER---------- */

#contact {
    text-align: center;
    color: #fff;
    width: 100%;
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 100%;
    align-content: center, bottom;
    margin-top:5%; /*adjusts how far footer is at bottom of page*/

}

#contact a {
    text-align: center;
    color: #fff;
    width: 100%;
 }

 /* ----------GALLERY-7----------*/
 .column img{
     width: 100%;
 }
 .column {
    display: grid;
    width: 90%;
    grid-template-columns: 1fr;
    margin: 0 auto;
    grid-gap: 15px;
}
picture {
    color:#fff;
}

.divforecast{
    display:none;
}

/*--------------TABLEBUILD.html-------------*/

/*html
{font-family: 'Ubuntu', sans-serif;
}*/

.wildwest{
    font-family: 'Ubuntu', sans-serif;
    display: table;
    /*box-shadow: 5px 10px grey;*/

    /*width: 100%;*/
    /*border: .1px solid #fff;*/
}
thead th{
font-style: bold;
color: black;
background-color: #7fb9c2;
padding: 17px;
padding: 0;
margin: 0;

}
tbody{
color: black;
}

tfoot td{
color: black;
background-color: #7fb9c2;
/*display: flex;
flex-wrap: wrap;
align-content: center;*/
text-align: center;


}

.wildwest th, td{
    padding: 10px;
    border: 1px solid grey;
    text-align: center;
    margin: 0 auto;

    /*border: 1px solid #ddd;*/

}

tbody tr:first-child{
    color: white;
    font-style:bold;
    background-color:#628ca6;
}
tr:nth-child(odd)
{
    background-color: #e7ffed;
  }
tr:nth-child(even) {
    background-color: #e7f0ed;
  }
.novembersalesgoal{
    color:white;
    background-color:#628ca6;
    column-span: 3;
}

/*--------------STORMCENTER FORM.html----------------*/

.h1forum{
    color:white;
}
form{
    color: white;
    /*text-align:center;*/
    font-size: 1.5vw;
    margin-left: 10px;
}
.formbox{
    display:flex;
    flex-direction: column;
   /* align-items:center; to make the input box smaller, looks nice*/
    max-width: 25%;

    /*justify-content: flex-end; Moves content to right side*/
}
form label, input{
    margin:1.5%;
    margin-left: 10px;
}
#thankyou{
    font-size:3vw;
}

/*---------------JSON---------------*/
/*Both are being used*/
#towndataid{
    color:#fff;
    text-align:center;
    display:flex;
    justify-content: center;
    flex-wrap:content;
    justify-content: space-around;
    /*width:50%;*/
}

.idahoarticle{
    width:20%;
    text-align:center;
    border: solid;
    border-width: thick;
    border-color:yellow;
    background-color:green;
}
#newtown{
text-align:center;
}

#newtown section{
    width:20%;
    border: solid;
    border-width: thick;
    border-color:yellow;
    background-color:green;
    margin:auto;

}

/* Applies to all JSON article sections.
.idahoarticle{
    text-align:center;
   color: #fff;
   align-content: center;
}*/

