@media only screen and (min-width: 800px) {
    /*div.fullwidth {
    width: 100%;
    width: 100vw; 
    }*/




    .navigation li:first-child { display: none;	}
	.navigation li { display: inline-block; margin-right: 1rem;}	
    .navigation li a { color: white;}
}

.weathersummary {
    /*position: absolute;*/
           /* top: 1rem;*/
/*
    top: 250px;
    left: 50px;
    margin-bottom:5px;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    background: radial-gradient(rgb(2, 94, 131), rgb(4, 49, 133));
    border: 1px solid blue(255, 0, 0);
    padding: .5rem;
    box-shadow: 0 0 30px gray;
    text-align:left;

}





