/*MOBILE*/
@import url('https://fonts.googleapis.com/css?family=Roboto|Work+Sans');
/*@media only screen and (max-width: 700px) {*/
/*}*/
/* navigation bar */
/*
.navigation li:first-child { display: none;	}
	.navigation li { display: inline-block; margin-right: 1rem;}	
    .navigation li a { color: white;}
    */
body{
    background-color: rgb(146, 145, 143);    
    font-family: 'sans-serif';
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

head{
    color: #fff;
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 100%;
    height:auto;
}

/* ------- HEADER ------- */
header {
    color:#ffffff;
    margin: auto;
    /*margin: 1.25rem auto;
    padding: .5rem;*/
    max-width: 100%;
    text-align: center;
    font-family: Helvetica;
    font-size: 16px;
    /*Menu tabs: 16 px, “Times New Roman.*/
}
.headtitle{
text-align:center;}

.templelogo{
    width: 100%;
    height:auto;
display:flex;
/*justify-content: flex-start;
align-items:flex-start;*/
max-width: 10vw;
margin-left: 2vw;
margin-bottom: 1em;
height:auto;
float: left;

}

/* -------H TAGS------*/
/*header h1{
    font-size: 4vw;
}*/
.h1title{
    color:#fff;
    font-size:5em;
    padding-top:.2em;
}
h2 {
    text-align: center;
    font-size:2em;
}
h3 {
    text-align: center;
    font-size: 1.5em;
    text-size-adjust:auto;
}

/*----------BODY--------------*/
.motto h2 {
    font-size: 2.5vw;
    font-style: italic;
}
.div-temple img:hover{
    box-shadow: 5px 5px 5px rgba(24, 23, 23, 0.8);
    transition: box-shadow 0.5s ease-in-out;
}
main{
    clear:both;
}
 main {
    color: white;
    margin: 1.25rem auto;
    /*padding: .5rem;*/
    max-width: 100%;
 }

 /* Home */
 #reservenow{
     color:white;
     text-align:center;
     display:block;
     font-size:2em;
 }


#h5events{
    font-size:2vw;
    margin-bottom:2vw;

}
#h2temple{
    font-size:2em;
    margin-bottom:2vw;
    text-align:center;
    display: block;
}
/*
.templeinfo{
    display:block;
    text-align:center;
}*/
#h3threetemples{
    margin-top:7vw;
}
.onetemplesection {
    width:auto;
    text-size-adjust: auto;
    text-align:justify;
    color:#fff;
    font-size:2vw;
    font-size:2vh;
        }

        .onetemplesection img:hover {
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
            transition: box-shadow 0.3s ease-in-out;
        }

        #stgeorgetemple{
            width:60%;
            height: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
            
        }
#stgeorgefacts{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size:1.3em;
}

.hometemple img{
    width: 100%;
    height:auto;
}
.hometemple {
   display: grid;
   width: 90%;
   grid-template-columns: 1fr;
   margin: 0 auto;
   grid-gap: 10px;
}

 .mapimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:2vw;
        }
        /*picture{
            text-align:center;
        }*/
        .picturedesc{
            text-align:center;

        }
/*
        .threetemples {
            width:auto;
            text-size-adjust: auto;
            text-align:justify;
            color:#fff;
            font-size:2vw;
            font-size:2vh;
                }
                .threetemples img{
            width: 100%;
            height:auto;
        }
        .threetemples img:hover {
           box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
           transition: box-shadow 0.3s ease-in-out;
         }
        .threetemples {
           display: grid;
           width: 75%;
           height:auto;
           grid-template-columns: 1fr 1fr;
           margin: 0 auto;
           grid-gap: 15px;
           color:#fff;
       }*/

/* ------- NAV ------- */
   nav {	margin: 0 auto;	width: 100%; font-size:1.6em; background-color: rgb(64, 65, 66);	}
  .navigation { list-style: none; text-align: center; padding-left: 0;}
  .navigation li:first-child { display: block;}
  .navigation li { display: none;}
  .navigation a {	display: block;	color: #fff; padding: .75rem;	text-align: center;	text-decoration: none;}
  .navigation a:hover {	color: #fff; background-color: grey; font-weight: 700;	}
  .navigation .active {
    background-color: rgba(116, 15, 231, 0.979);
}


.responsive li { display: block; }

/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">
  */

.responsive li { display: block; }

/*--------Temple Page-----*/

.forecast1{
    color:black;
}

 /*This is H4*/
 .h4forecast{ 
    text-align:center;
    font-size:3vw;
    margin-bottom:2vw;
    
     }
     .weathersummary {
        /*position: absolute;*/
               /* top: 1rem;*/
/*
        top: 250px;
        left: 50px;
        margin-bottom:5px;*/
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        background: radial-gradient(blue, lightblue);
        border: 1px solid blue;
        padding: .5rem;
        box-shadow: 0 0 30px gray;
        text-align:left;      
        /*dynamically change element box size depending on other elements. 
        Have it push down the navigation bar element*/
        /*top: 10px;*/
    }
    .templepageimage {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }

      .divtemple img:hover{
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
        transition: box-shadow 0.3s ease-in-out;
      }
      .templeinfo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
      .h4templeinfo{
          text-align:center;
          font-size:1.4em;
      }
      
 /*.templepageimage{
     float:left;
 }*/

/*--------FOOTER---------- */

#contact {
    text-align: center;
    height: 50px;
    color: #fff;
    width: 100%;
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 100%;
    align-content: center, bottom;
    margin-top:20%; /*adjusts how far footer is at bottom of page*/

}

#contact a {
    text-align: center;
    color: #fff;
    width: 100%;
 }

/* SERVICES */

#services{
    text-align:center;
    padding-top:none;
    margin-top:none;
    font-size:2.5em;
    font-family:'Roboto';
}
#servicesdiv{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.serviceslink{
    color:#fff;
    font-size:2vw;
    text-align:center;
}
#listofamenities{
    margin-top: 2em;
}
.liamenities{
    margin-top: 2em;
}

#specializedservices{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#h2services{
    text-align:center;
    font-size:2.5em;
    font-family: 'Work Sans';
    margin-top:6vw;

}
#freeamenities{
    font-family: 'Work Sans';
    font-size:2.5em;
    margin-top:6vw;
}

 /* RECEPTION*/

 #weddingdiv{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom:3vw;
 }

 #weddingreception{
    color:black;
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
#h1wedding{
     text-align:center;
     font-size:1.5vw;
 }
#weddingdiv{
    align-items:center;
}

 #weddingbouquet{
     width:15%;
     display: block;
     margin-left: auto;
     margin-right: auto;
    /* align-content:center;
     display: block;
     margin-left: auto;
     margin-right: auto;*/

 }

 #weddingcatering-1{
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 30%;
 }
 #weddingcatering-2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}


/* --------FULL TIME MISSIONARIES -----*/
#hotelsuite{
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 100%;
}
#hotelsuite img:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
    transition: box-shadow 0.3s ease-in-out;
}
#missionarysection{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom:2vw;
}
#rentalmanager{
    text-align:center;
    margin-bottom:3vw;
}
#missionaryform{
    margin-top:5vw;
}

 /*----------CONTACT------------*/
 #h2mail{
     font-size:2.5vw;
     margin-top:5vw;
     font-family: 'Work Sans'; 

 }
 #h3maphq{
     font-size:2.5vw;
     font-family: 'Work Sans'; 

 }
 #mailaddress{
     text-align:center;
     font-family: 'Work Sans'; 
     /*second font is backup font*/
 }
 #resourceslink{
     font-family: 'Work Sans';
     text-align:center;
     color:#fff;
     margin-top:5vw;
     display: block;
     font-size:2em;
     margin-left: auto;
     margin-right: auto;
 }

 /* ----------GALLERY-7----------*/
 .column img{
     width: 100%;
     height:auto;
 }
 .column img:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
    transition: box-shadow 0.3s ease-in-out;
  }
 .column {
    display: grid;
    width: 95%;
    height:auto;
    grid-template-columns: 1fr;
    margin: 0 auto;
    grid-gap: 15px;
    color:#fff;
}
/*
.divforecast{
    display:none;
}*/

/*--------------RESOURCES-------------*/

#resources{
    align-content:center;
    text-align:center;
}

/*--------------RESERVATION.html----------------*/

.h1forum{
    color:white;
}
form{
    color: white;
    /*text-align:center;*/
    font-size: 1.5vw;
    margin-left: 3vw;
}
.formbox{
    display:flex;
    flex-direction: column;
   /* align-items:center; to make the input box smaller, looks nice*/
    max-width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*justify-content: flex-end; Moves content to right side*/
}
form label, input{
    margin:1.5%;
    margin-left: 10px;
}
input{
display:flex;
justify-content:space-around;
}
#thankyou{
    font-size:3vw;
}

/* ----------CONTACT------------ */
#hqmap{
    align-content:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}


/*---------------JSON---------------*/
/*Both are being used*/
#towndataid{
    color:#fff;
    text-align:center;
    display:flex;
    justify-content: center;
    flex-wrap:content;
    justify-content: space-around;
    /*width:50%;*/
}

.idahoarticle{
    width:20%;
    text-align:center;
    border: solid;
    border-width: thick;
    border-color:yellow;
    background-color:green;
}
.prestontownimg{
    width:100%;
    height:auto;
}
.sodatownimg{
    width:100%;
    height:auto;
}
.fishtownimg{
    width:100%;
    height:auto;
}
/*
 .column img:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
    transition: box-shadow 0.3s ease-in-out;*/
#newtown{
text-align:center;
}

#newtown section{
    width:20%;
    border: solid;
    border-width: thick;
    border-color:yellow;
    background-color:green;
    margin:auto;
}

/* Applies to all JSON article sections.
.idahoarticle{
    text-align:center;
   color: #fff;
   align-content: center;
}*/

